#content td {
    padding: 5px;

    font-size: 12px;
    font-weight: normal;
    border: 1px solid #fef5d5;
}
#content th{

    padding: 10px;

}
#content {
    margin-left: 30px;
}

.table-custom {
    background: #fff;
}